.headerTop {
    background: #0b47ef;
}
.headerTopFlex {
    display: flex;
    /* ordenar segun columna por defecto los pone en una misma fila */
    justify-content: end;
    /* alienar a la derecha*/
    align-items: center;

}
/*SEÑALAR A UN PADRE PARA ESCOGER A SU HIJO */
.headerTopFlex ul {
    display: flex;
}
.headerTopFlex ul.listText {
    margin-right: 20px;
}
.headerTopFlex ul a {
    color: white;
}
.headerTopFlex ul.social li a {
    width: 25px;
    height: 25px;
    /* width : ancho, height: largo */    
    color: #0b47ef;
    background: white;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 50%;
    /* border-radius es para aplicar redondo a los bordes, si le pones 50% lo vuelve circular*/
    display: flex;
    justify-content: center;
    /* centrar elementos en un display flex horizontal */
    align-items: center;
    /* centrar elementos en un display flex vertical*/
    font-size: 12px;
    /* tamaño de fuente*/
}
.headerTopFlex ul.listText li {
    margin-left: 25px;
}
.headerMidFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img {
    width: 100%;
}
.logo {
    width: 250px;
}
.actions ul {
    display: flex;
    justify-content: end;
}
.actions {
    width: 250px;
}
.buscar input {
    padding: 10px;
    font-size: 16px;
    border: solid 1px #c9c9c9;
    min-width: 450px;
    border-radius: 5px;
    background: #f9f9f9;
}
.actions ul li {
    margin-left: 20px;
}
.actions ul li a {
    display: block;
    font-size: 28px;
    color: #f38c59;
    position: relative;
}
.actions ul li a mark {
    position: absolute;
    /*el absolute retira al elemento del contenido, generando una posicion sin fin fijo*/
    font-size: 13px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #fb5e5e;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    /*que tna lejos esta del top*/
    top: -6px;
    /*que tna lejos esta del right*/
    right: -7px;
    border: solid 2px white;
}
.headerMid {
    padding: 5px 0px;
}
.headerBottomFlex ul a {
    font-size: 22px;
    color: #3b3b3b;
    text-transform: capitalize;
}
.headerBottomFlex ul {
    display: flex;
    justify-content: space-between;
}
.headerBottom {
    border-top: solid 1px #cbcbcb57;
    padding: 15px 0px;
}
header {
    box-shadow: 0px 4px 11px #a5a5a561;
    position: relative;
    z-index: 1;
}